<header>
    <h1>
        Money Management
    </h1>
</header>
    
<div class="container">    
    <h2>ログイン画面</h2>
    
    <p>
        <%= form_tag '/top/login', method: :post do %>
            <%= label_tag :uid, 'ユーザー名' %>
            <%= text_field_tag :uid %><br>
            <%= label_tag :pass, 'パスワード' %>
            <%= password_field_tag :pass %><br>
            <button><%= submit_tag 'ログイン' %></button>
        <% end %>
    </p>
    
    <p>
        <button><%= link_to '戻る', :back %></button>
    </p>
</div>
    
<footer>
    <p>
      2011140053Nakamura&2011140088Izumi
    </p>
</footer>
    
</body>