<h2>支出一覧ページ</h2>

<% if Spend.group(:tag).count.present? %>
    <h3>支出割合</h3>
    <%= pie_chart Spend.group(:tag).count %>
<% end %>

<% if @spends.present? %>
    <% @spends.each do |j| %>
        <p>
            ジャンル：<%= j.tag %>｜
            利用金額：<%= j.spendmoney %>円｜
            オプション：<%= link_to '編集', edit_spend_path(j.id) %>｜
            詳細：<%= link_to '詳細', spend_path(j.id) %>｜
            削除：<%= link_to '削除', j, method: :delete %>
        </p>
    <% end %>
    
<% else %>
    <p>登録されている支出内容がありません。</p>
<% end %>

支出登録は<%= link_to "こちら",  top_passcode_1_path %><br>
金融機関一覧ページは<%= link_to "こちら",  top_passcode_3_path %><br>
ログアウトは<%= link_to "こちら", top_logout_path %>