支出一覧ページ
<% @spends.each do |j| %>
    <p>
        ジャンル：<%= j.tag %>｜
        利用金額：<%= j.spendmoney %>｜
        オプション：<%= link_to '編集', financial_path(j) %>
    </p>
<% end %>

支出登録は<%= link_to "こちら",  top_passcode_1_path %><br>
金融機関登録は<%= link_to "こちら",  top_passcode_2_path %><br>
金融機関登録は<%= link_to "こちら",  top_passcode_3_path %><br>
ログアウトは<%= link_to "こちら", top_logout_path %>