<h1>詳細ページ</h1>
<p>金融機関</p>
<p>
    <%= @financial.insititution %>
</p>
<p>使用可能金額</p>
<p>
    <%= @financial.usable %>
</p>

<%= link_to '削除', financial_path(@financial.id),method: :delete %><br>
<%= link_to '編集', edit_financial_path(@financial.id) %><br>
<%= link_to '一覧ページへ', financials_path %>